<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img src="images/blucollar-logo-non-bold.png" alt="Logo" />
    <div class="message">
    <p>
      Awesome job <%= @employee.profile.name %>!
      Your application has been successfully delivered to <b> <%= @job.company %> </b>. Look forward to them contacting you soon about the <b> <%= @job.title %> </b> position . 
    </p><p>
      <% if @jobs.length > 1 %>
      Make sure to check out these other jobs that you matched with.
      <% elsif @jobs.length = 1 %>
      Make sure to check out this other job that you matched with.
      <% end %>
    </p>
    </div>
    <div class="jobs">
        <% @jobs.each do |job| %>
      <div class="job">
          <span class="header">
            <h3><%= job.employer.name %></h3>
          </span>
            <h4><%= job.title %></h4>
            <p><%= job.address %></p>
      </div>
        <% end %>
    </div>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Happy job-hunting and have a great day!</p>
    <p>BluCollar</p>
  </body>
</html>