<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag(attachments['logo.png'].url) %>
    <p>Hey <%= @employee.profile.name %>,</p>
    <p>
      Here are the latest jobs you match with. 
    </p>
    <div class="jobs">
        <% @jobs.each do |job| %>
      <div>
      <div class="job">
          <span class="jobTitle">
            <h2><%= job.title %></h2>
            <span class="jobDetails">
              <h3><%= job.employer.name %> | <%= job.address %></h3>
            </span>
        </span>
      </div>
      </div>
        <% end %>
    </div>
    <p>

      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Happy job-hunting and have a great day!</p>
    <p>BluCollar</p>
  </body>
</html>