<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img src="images/blucollar-logo-non-bold.png" alt="Logo" />
    <p>Hey <%= @employee.profile.name %>,</p>
    <p>
      Here are the latest jobs you match with. 
    </p>
    <div class="jobs">
        <% @jobs.each do |job| %>
      <div class="job">
          <span class="header">
            <h3><%= job.employer.name %></h3>
          </span>
            <h4><%= job.title %></h4>
            <p><%= job.address %></p>
      </div>
        <% end %>
    </div>
    <p>

      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Happy job-hunting and have a great day!</p>
    <p>BluCollar</p>
  </body>
</html>