<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag(attachments['logo.png'].url) %>
    <p>Hello <%= @employer.name %>,</p>
    <p>
      Here are the latest candidates you match with. 
    </p>
    <div class="candidates">
    <% @candidates.each do |candidate| %>
      <div class="candidate">
        <h3><%= candidate.name %></h3>
        <p><%= candidate.address %></p>
      </div>
    <% end %>
    </div>
    <p>

      To login to the site, just follow this link: <a href=<%= @url %>>BluCollar</a>.
    </p>
    <p>Happy hunting and have a great day!</p>
    <p>BluCollar</p>
  </body>
</html>