<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag(attachments['logo.png'].url) %>
    <div class="message">
    <p>
      Incredible news <%= @employer.name %>!
      We have found a candidate that matches your job.
      <div class="candidate">
        <h3><%= @candidate.name %></h3>
        <p><%= @candidate.email %></p>
        <p><%= @candidate.address %></p>
      </div>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Happy job-hunting and have a great day!</p>
    <p>BluCollar</p>
  </body>
</html>