<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag(attachments['logo.png'].url) %>
    <h1>Hello, <%= @employer.name %></h1>
    <p>
      A <%= @employer.subscription %> subscription will be charged to your card ending in <%= @employer.current_card %> on <%= @employer.date %>. 

      <br>
      If you would like to update your payment method or pause your subscription, update your profile at BluCollar.com.
    </p>
    <p>
      To login to the site, just follow this link: <a href=<%= @url %> target="_blank">BluCollar</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>